body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 25px;  
} 

.App {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#parent {
  width: 35vw;
  height: 35vh;
  border: 1px solid black;
  padding: 10px;
  margin: 15px;
}

#child {
  width: 25vw;
  height: 25vh;
  border: 1px solid black;
  padding: 10px;
  margin: 15px;
}

#grandchild {
  width: 20vw;
  height: 20vh;
  border: 1px solid black;
  padding: 10px;
  margin: 15px;   
}

h2 {
  margin: 5px;
}
